@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oxygen&display=swap');


$background: #111111;
$background-alt: #333333;

$shadow: #121212d9;

$foreground: #ddddff;
$foreground-alt: #eeeeee;

$accent-1: #77dd77;
$accent-1-alt: #77dd44;

$accent-background: #77dd7740;

$alert: #ff4477;

// ---

$ff-primary: 'Oxygen', sans-serif;
$ff-secondary: 'Nunito', sans-serif;
